# =====================
# Common
# =====================
.env
*.log

# =====================
# Visual Studio / Rider / VS Code
# =====================
.vs/
.vscode/
.idea/

# =====================
# .NET
# =====================
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# =====================
# Angular / Node
# =====================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
